[2017-05-10 19:02] lwaldron opened #1 "PAAD not importing"
http://www.cbioportal.org/study?id=paad_tcga

[2017-05-11 23:22] asamedy commented on #1
Error in .generateMap(colData, experiments) :
  no way to map colData to ExperimentList

[2017-05-11 23:27] asamedy commented on #1
http://www.cbioportal.org/study?id=luad_tcga
In .generateMap(colData, experiments) : Data from rows:
 NA - TCGA-55-7724-01
 NA - TCGA-55-7726-01 dropped

[2017-05-16 18:38] asamedy opened #2 "lusc_tcga_pub, prad_tcga_pub,"
Error in .generateMap(pData, experiments) :
  no way to map pData to ExperimentList
http://www.cbioportal.org/study?id=lusc_tcga#summary
http://www.cbioportal.org/study?id=prad_tcga#summary

[2017-05-16 18:39] asamedy opened #3 "mm_broad not working"
Warning message:
In .generateMap(pData, experiments) : Data from rows:
 NA - MM-0297
 NA - MM-0339
 NA - MM-0426
 NA - MM-0427
 NA - MM-0483
 NA - MM-0506
 NA - MM-0520
 NA - MM-0607
dropped due to missing phenotype data
http://www.cbioportal.org/study?id=mbl_broad_2012#summary

[2017-05-16 19:50] LiNk-NY commented on #2
Hi Andy, @asamedy
This is common in TCGA data because Patient IDs are shorter than Sample IDs but share a common set of identifying information.
Try using
[code]

[2017-05-16 20:20] asamedy commented on #2
Thanks for the tip Marcel.  Will try that.

On Tue, May 16, 2017 at 3:50 PM, Marcel Ramos <notifications@github.com>
wrote:

[2017-06-28 14:39] asamedy opened #4 "Barcodes"
Trying to use TCGAutils to chop barcodes down  but still having some issues.

Also Pdat should have real names but don't.

[2017-06-28 14:57] LiNk-NY commented on #4
Hey Andy, @asamedy
What issues are you having?
Can you post some reproducible example code?
Thanks,
Marcel

[2017-06-28 15:31] asamedy commented on #4
Hey Marcel,
I'll send it to you when I get back to my computer. Thanks!!

On Jun 28, 2017 10:58 AM, "Marcel Ramos" <notifications@github.com> wrote:

Hey Andy, @asamedy <https://github.com/asamedy>
What issues are you having?
Can you post some reproducible example code?
Thanks,
Marcel

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://git

[2017-06-29 14:47] asamedy commented on #4
library(multiassayexperiment)
library(multiassayexperimentdata)
library(TCGAutils)

mae <- importcBioPortal("/Users/AndySamedy/Downloads/uvm_tcga.tar.gz")

.generateMap(colData, experiments, TCGAutils::TCGAbarcode) is what i changed in multiassayexperiment

[uvm_tcga.tar.gz]
(https://github.com/waldronlab/MultiAssayExperimentData/files/1112411/uvm_tcga.tar.gz)

[2017-07-06 20:24] LiNk-NY commented on #4
Hi Andy, @asamedy

From what I can tell from the code, you have to generate the sample map using the helper function (`generateMap`) in the `TCGAutils` package first and then call the `MultiAssayExperiment` constructor function with the `sampleMap` already created. Otherwise, the `MultiAssayExperiment` constructor function will assume that `colData` rows are the same as in the experiment colnames

[2017-07-20 17:27] lwaldron opened #5 "commit changes"
@asamedy if you have done work on importcBioPortal(), would you commit them?

[2018-02-08 16:20] LiNk-NY opened #6 "use BiocFileCache for storing datasets"

[2018-04-25 17:43] LiNk-NY commented on #6
Resolved in 724687cb666883cf70b4271560df03b40c76b5e8

[2018-04-25 17:43] #6 closed

[2018-04-25 17:44] #5 closed

[2018-04-25 17:44] #4 closed

[2018-04-27 19:49] LiNk-NY commented on #2
I've added a helper to remove any instances of `LUSC` or `[A-Z]{4}` that are not `TCGA` and replace them with `TCGA`.

[2018-04-27 19:51] LiNk-NY commented on #2
Oops, wrong commit noted.

[2018-04-27 19:54] #2 closed

[2018-10-10 17:31] lwaldron opened #7 "Status of successfully imported datasets"
Use this thread to post the list of datasets that are and are not yet imported.

[2019-10-16 14:15] LiNk-NY opened #8 "don't export downloadStudy"
It is meant to be an internal function and not for end-user use

[2019-10-16 14:17] LiNk-NY opened #9 "rename loadStudy to cBioDataPack or similar"
to distinguish between API data and `.tar.gz` data from https://download.cbioportal.org/

[2019-10-16 14:18] LiNk-NY opened #10 "cbio argument is not descriptive enough"
Possible ideas:

cbioportal
apiobj
api
cbioapi

[2019-10-16 14:20] LiNk-NY opened #11 "unit testing for API calls"
add unit tests to match calls between direct API and cached API calls

[2019-10-16 15:30] LiNk-NY opened #12 "standardize input arguments across api and data pkg calls"
This includes `studyId` etc.

[2019-10-16 17:28] LiNk-NY commented on #12
This is not possible as the documentation on the official website differs from both "API"s.
https://cbioportal.org/webAPI uses `cancer_study_id`
https://www.cbioportal.org/api uses `studyId`

[2019-10-16 17:28] #12 closed

[2019-10-22 23:17] #8 closed

[2019-10-22 23:17] #9 closed

[2019-10-22 23:17] #10 closed

[2020-01-26 21:15] lwaldron opened #13 "Add Travis and AppVeyor badges to README.md"

[2020-01-28 18:22] #13 closed

[2020-03-15 18:49] lwaldron opened #14 "Travis build not working"
[code]

But Appveyor is working, why is that?

[2020-03-15 18:57] LiNk-NY commented on #14
Hi Levi, @lwaldron
That was an issue in the documentation where I had examples for an internal function.
https://github.com/waldronlab/cBioPortalData/commit/d59719a30585ac6eead51439566cbccbbc83086d#diff-01c00eede9af93ee1953ea021f0497beL23-L27

I fixed it by removing it in latest version of the package.
Internal functions shouldn't really have examples as they are not exported.

The current Travis

[2020-03-15 18:57] #14 closed

[2020-05-29 02:15] allteaser opened #15 "cBioPortalData functions"
The following functions giving same errors:
getGenePanelMolecular
getDataByGenePanel
sampleLists
allSamples
getSampleInfo

Error:
Provide a valid 'studyId' from 'getStudies()'
Examples:
getGenePanelMolecular(cbio,molecularProfileIds = c("acc_tcga_rppa", "acc_tcga_gistic"),sampleIds = allSamples(cbio, "acc_tcga")$sampleId)
getDataByGenePanel(cbio, "acc_tcga", genePanelId = "IMPACT341",molecularProf

[2020-05-29 13:07] LiNk-NY commented on #15
Hi,
We are aware of the issue and it should be fixed today.
You can try the GitHub version and delete your cache.
[code]
Thank you for reporting.

[2020-05-29 13:16] inodb opened #17 "How to handle using API token"
cBioPortal provides a way to connect to authenticated portals using an API token. I'm guessing we can pass the token to rapiclient somehow. This probably isn't too tricky. Volunteering myself to solve this

[2020-05-29 15:19] LiNk-NY commented on #17
@inodb
Do you have an example?
The `AnVIL::Service` class allows for authentication.
Perhaps that is enough?

[2020-05-29 15:45] inodb commented on #17
@LiNk-NY not directly an example but could try that, thanks for the suggestion!

The docs are here:

https://docs.cbioportal.org/2.2-authorization-and-authentication/authenticating-users-via-tokens#using-data-access-tokens

need to have some way to add an authorization header to each request like:

[code]

[2020-05-29 15:52] LiNk-NY commented on #17
Yup, it looks like the Service class should allow it.

[2020-05-30 23:13] canholyavkin opened #18 "Problem in clinicalData function in For loops"
I was using the **cBioPortalData** r package to extract the clinical data of the several studies. However, the clinicalData function doesn't work in for loop and gives only the first record. Here is reproducible example.

[code]
It only extracts the clinical data of the first study (paac_jhu_2014) and ignores the rest of them.

[code]

I get similar results even I use `lapply` instead of for loop.

[2020-05-31 00:31] LiNk-NY commented on #18
Hi Can, @canholyavkin
Thanks for reporting this. I am aware that there is an issue with
the caching that has cropped up recently. I've been investigating
and fixing.

What version of R, Bioconductor, and package are you using?
Thanks.
-Marcel

[2020-05-31 07:35] canholyavkin commented on #18
Thank you for the reply.

[code]

[2020-05-31 19:55] LiNk-NY commented on #18
@canholyavkin Thanks for the report.
It should be fixed in release a97fa9d and devel b8226b9.

[2020-05-31 19:57] LiNk-NY commented on #15
This should be fixed here: 94decfc1be775a212d3297f54cfe955664b7376f
Let me know if you have any issues. I'm closing the issue. Thanks.

[2020-05-31 19:57] #15 closed

[2020-05-31 21:24] allteaser commented on #15
Hi Ramos,
Thank you for taking care of this issue. I downloaded cBioPortalData from github and it is working fine.
Chandri

Sent from my iPhone

On May 31, 2020, at 3:57 PM, Marcel Ramos <notifications@github.com<mailto:notifications@github.com>> wrote:

Closed #15<https://github.com/waldronlab/cBioPortalData/issues/15>.

—
You are receiving this because you were mentioned.
Reply to this email dir

[2020-06-01 06:54] canholyavkin commented on #18
Yes, the problem is solved now. Thanks.

[code]

[code]

[2020-06-01 07:55] canholyavkin commented on #18
Just a small feedback. lapply based function still brings the first cases even after the update.

[code]

[2020-06-01 17:28] LiNk-NY commented on #18
Thanks for the note. Fixed in 76c00cd88750da18cba945e1347d2d4a39244e1a

[2020-06-01 17:28] #18 closed

[2020-06-02 16:42] jcgu opened #19 "Error: Provide a valid 'studyId' from 'getStudies()'"
hi there,

I started using this tool recently and run into this error when checking on the simple example provided.

[code]
[code]

I looked into the code and understood the logic of `.checkIdValidity` but I couldn't figure out why it gave a `FALSE` for "acc_tcga".

I've tried the version on bioC and also the version here on GitHub and have the same issue.

Could you look into this?

Thanks.

[2020-06-02 16:45] LiNk-NY commented on #19
Hi @jcgu,
This has been resolved. See #15.
Please get the newest version of cBioPortalData either on GitHub `2.1.0` or Bioconductor.
Best,
Marcel

[2020-06-02 16:45] #19 closed

[2020-06-02 16:51] jcgu commented on #19
thanks, it's working with the latest on GitHub.

[2020-06-02 17:14] jcgu commented on #15
hey LiNK-NY, I'm not familiar with the code in this fix. Could you explain some summary on why the error came up? That'd be really helpful. Thanks!

[2020-06-02 17:23] allteaser commented on #15
Hello,
I was testing the functions in the cBiopotalData and I found some of the functions did no work. I think it is fixed on github. I downloaded the package and it works fine. The issue was already closed.
Thank you,
Chandri

Sent from my iPhone

On Jun 2, 2020, at 1:14 PM, jcgu <notifications@github.com<mailto:notifications@github.com>> wrote:

This should be fixed here: 94decfc<https://github.

[2020-06-02 17:26] jcgu commented on #15
understood, I found the same error in another issue and was directed here. i'm asking LiNK-NY about the logic why this one didn't work.

[2020-06-02 18:43] LiNk-NY commented on #15
Hi @jcgu ,

Some calls to `.checkIdValidity` were passing arguments (`check`) via the `...` and
invalidating the caching mechanism. I removed the `...` from `.checkIdValidity` as it
is not necessary and added explicit arguments for internal helper functions to avoid
further confusion.

Best,
Marcel

[2020-06-02 19:35] jcgu commented on #15
Aha, got it, thanks for the explanation.

[2020-06-30 15:45] inodb opened #20 "Add CI test for manuscript"
- [ ] Figure S2B (skipping cBioDataPack for now since that's very slow: https://github.com/cBioPortal/datahub/issues/1166)
- [ ] Other figures: S2A, S2C + S3
- [ ] Main figures (different repo, might be able to reuse)

We can run the CI test on cbioportal/cbioportal using GitHub actions. It will pull a Rmd file with all the figures/supplementary code from somewhere (maybe this repo waldronlab/cBio

[2020-06-30 15:56] LiNk-NY commented on #20
@inodb
This is the repository that contains the rest of the analyses in the manuscript:
https://github.com/LiNk-NY/curatedTCGAManu
The only `cBioPortalData` code is in the `README.md` file.

[2020-06-30 16:01] inodb commented on #20
@LiNk-NY thanks, that's great! Looks like I can pull the https://github.com/LiNk-NY/curatedTCGAManu/blob/master/README.Rmd file and run that 👍

[2020-07-09 01:20] LiNk-NY commented on #20
BTW @inodb I've added the Bioc long tests option to this repository.
It allows tests in the `longtests` directory to run for up to 6 hours.
If you'd like to add some unit tests there, you could.

[2020-07-09 01:34] LiNk-NY commented on #17
@inodb I would look at the `AnVIL` package for some examples using authentication

[2020-07-10 10:49] jucor opened #24 "Importing without a gene panel?"
Hi!
Is there a way to import a study without having to specify a gene panel, please? For example:
[code]
which right now fails because I did not specify a gene panel. The web interface does not seem to require it either, nor does `cBioDataPack()`.
Thanks for any help!

[2020-07-10 10:50] jucor opened #25 "cBioDataPack("coadread_genentech") error"
Hi!

[code]
fails with error
[code]

I have installed cBioPortalData from the current github version. I have tried downloading the same study with `cBioPortalData`, but that function requires a gene panel (see issue #24) so does not quite match what I need.

Thanks a lot for any help!

[2020-07-10 15:20] LiNk-NY commented on #24
Hi Julien, @jucor
Thank you for your issue.
The cBioPortal API requires a set of genes in every query.
The easiest way to implement this was using existing gene panels.

Future versions will support a set of genes as input to the `cBioPortalData` function.
I will leave this issue open until that is added. Thank you.
Best,
Marcel

[2020-07-10 16:13] jucor commented on #24
Thanks @LiNk-NY ! Any idea how to get the whole-genome sequence for studies that support it, by any chance, please? Or is the only way to download the whole database of studies and do queries on a local mirror?

[2020-07-10 16:30] LiNk-NY commented on #24
@jucor You can download the entire study file using `downloadStudy`. It currently is an internal function but it can certainly be exported.
[code]

[2020-07-13 14:40] #25 closed

[2020-07-15 14:09] jebard opened #28 "cBioDataPack Error for cesc_tcga_pan_can_atlas_2018"
Hello!
I was wondering if anyone has encountered this problem when loading the study "cesc_tcga_pan_can_atlas_2018".

Is there a known work around?

cesc_pan_2018 <- cBioDataPack("cesc_tcga_pan_can_atlas_2018")

Parsed with column specification:
cols(
  .default = col_character()
)
See spec(...) for full column specifications.
Error in seqlevels[rankSeqlevels(seqlevels)] <- seqlevels :
  NAs are n

[2020-07-17 01:30] xinwei-sher opened #29 "geneTable()"
geneTable() returns exactly 100,000 genes. Is that all?
Why most of the genes from geneTable() are phosphoprotein, and there are only 3477 protein-coding genes?

# A tibble: 9 x 2
  type               n
  <chr>          <int>
1 miRNA           3925
2 ncRNA              6
3 other            158
4 phosphoprotein 91907
5 protein-coding  3477
6 pseudo           291
7 rRNA               2
8 tRNA

[2020-07-17 03:59] xinwei-sher opened #30 "molecularData with hugoGeneSymbol?"
Is it possible to retrieve molecular data with hugoGeneSymbol? It looks only entreGeneIds can be used for now:

Molecular Profile Data

The data for a molecular profile can be obtained with prior knowledge of available entrezGeneIds:

molecularData(cbio, molecularProfileId = "acc_tcga_rna_seq_v2_mrna",
    entrezGeneIds = c(1, 2),
    sampleIds = c("TCGA-OR-A5J1-01",  "TCGA-OR-A5J2-01")
)

[2020-07-17 14:13] jebard commented on #30
I wrote a quick function to help me with this since most of the time i work in symbol space as opposed to entrez id -- hope it helps! It takes in one or more symbols and returns the entrez id

get_entrez_from_gene_names <- function(x){
  returnList = NULL
  for (gene in x){
    get <- cbio$getGeneUsingGET(gene)
    ret <- httr::content(get)
    print(ret$entrezGeneId)
    returnList <- rbind(retur

[2020-07-17 15:07] LiNk-NY commented on #30
Please use the `cBioPortalData` function and specify the `by` argument to "hugoGeneSymbol".
https://waldronlab.io/cBioPortalData/reference/cBioPortalData.html

[2020-07-17 15:17] LiNk-NY commented on #30
Also see `AnnotationHub` and the `mapIds`function
https://www.bioconductor.org/help/course-materials/2019/BSS2019/05_Annotations.html#mapping-between-symbols

[2020-07-17 16:12] LiNk-NY commented on #29
@xinwei-sher
Thanks for reporting the issue.
I am preparing a patch. There are pagination parameters in the API that are not explicit in the function arguments.

[2020-07-17 16:15] #29 closed

[2020-07-17 17:18] LiNk-NY commented on #24
**update**: I've made `downloadStudy` available via the interface for use.

@jucor Can you elaborate on what you mean by obtaining the whole-genome sequence for studies?
Do you mean all the features (genes, CpGs, etc.) in a particular study?

Perhaps @inodb can provide additional information about this.

Thanks

[2020-07-17 23:37] xinwei-sher commented on #30
Thanks for your response. However, cBioPortalData only supports hugoGeneSymbol in predefined genePanel. There's no parameter for individual hugoGeneSymbols. It also does not support customized genePanel.

[2020-07-17 23:56] xinwei-sher commented on #30
Thanks for the trick, @jebard. Go Bulls!

[2020-07-20 16:21] LiNk-NY commented on #30
This is an open issue, see https://github.com/waldronlab/cBioPortalData/issues/24

[2020-07-20 16:22] #30 closed

[2020-07-20 16:23] #3 closed

[2020-07-20 16:23] #1 closed

[2020-07-27 15:59] mjsteinbaugh opened #31 "Working example error"
Hi, I'm working through the cBioPortalData vignette and am having trouble getting this query to work:

[code]

Here's the backtrace of the stuck R process:

[code]

Here's the session info:

[code]

[2020-07-27 16:03] mjsteinbaugh commented on #31
Rerunning this step I was able to generate this error:

[code]

[2020-07-27 16:52] LiNk-NY commented on #31
@mjsteinbaugh
Hi Michael,
What does `BiocManager::valid()` give you?
Make sure it has the latest release installations.

[2020-07-27 16:53] mjsteinbaugh commented on #31
[code]

[2020-07-27 16:57] mjsteinbaugh commented on #31
Also, I seem to be seeing some expected genes not return with this:

[code]

I know the 2 FALSEs here should be TRUE here because they're on the cbioportal.org website and return with cgdsr package methods. Is there a potential gene symbol mapping issue here? I'm happy to help debug.

[2020-07-27 17:34] LiNk-NY commented on #31
Hi Michael, @mjsteinbaugh
You may have old cache in your `cache` location.
Try clearing your cache using the `unlink` function call below.

[code]

<sup>Created on 2020-07-27 by the [reprex package](https://reprex.tidyverse.org) (v0.3.0)</sup>

[2020-07-27 17:54] LiNk-NY commented on #31
@mjsteinbaugh I am not sure where you are getting `hugo_genes` from.
If you encounter any issues with the actual data provided from the cBioPortal tarballs,
go to the https://github.com/cbioportal/datahub and open an issue there

[2020-07-27 23:32] mjsteinbaugh commented on #31
Not a cache issue as far as I can tell. The `hugo_genes` is a vector of genes of interest that I'd prefer to not post publicly at the moment.

[2020-07-27 23:33] mjsteinbaugh commented on #31
I'll try running the vignette inside my Docker images and see if I can reprex. The error above may be a macOS-specific issue.

[2020-07-29 15:51] lwaldron opened #32 "prioritization request for angs_project_painter_2018"
[code]

[2020-07-29 18:11] lwaldron commented on #28
Thanks for the report @jebard - it's been a bit busy prepping for BioC2020 but we'll get to this as soon as possible. As a workaround in the meantime, you might try the API method, here's some example code. I have to admit I waited around a while for the last line but not long enough to get the result from the API. This is a big study and this call might be trying to ask for too much in one call.

[2020-07-29 20:22] jebard commented on #28
Thanks very much for following up. I'll give the code snippet provided a try. I traced the issue a little bit on my end and think its isolated to the way that the data tables are being read in -- specifically this line within the function cBioDataPack()

    dat <- as.data.frame(readr::read_tsv(fname, comment = "#"),check.names = FALSE)

Temporarily to get around it I swapped this line out for:

[2020-07-29 21:15] LiNk-NY commented on #32
similarly..
[code]

[2020-08-21 02:10] LiNk-NY commented on #31
Hi Michael, @mjsteinbaugh
If there is an issue for Mac, feel free to open another issue.
Best,
Marcel

[2020-08-21 02:10] #31 closed

[2020-08-21 02:12] LiNk-NY commented on #7
see `data(studiesTable)`
[code]
(WIP)

[2020-08-21 02:12] #7 closed

[2020-09-02 17:15] LiNk-NY commented on #28
Hi Jonathan, @jebard

I've had a look into this and made a change in the underlying code. https://github.com/waldronlab/cBioPortalData/commit/80fc587158b9ff52096f122fd41ae634132ef5e7

I've made a couple of changes:
1. switched to using `read.delim(sep = "\t")`
2. removed rows that have an NA chromosome value after readin

The source of the issue was that `readr::read_tsv` converts the chromosome X

[2020-09-02 17:15] #28 closed

[2020-09-02 19:30] jebard commented on #28
Perfect! Thanks for taking a look, appreciate it!

[2020-09-22 06:42] biodancerwangzhi opened #34 "can't find 'VITAL_STATUS' field in mae clinicalData"
I tried to use the api to get the clinical data for survial analysis, but I can't get ’OS_MONTHS’, ’VITAL_STATUS’ fields.

clinical_data = clinicalData(cbio, "acc_tcga")
clinical_data[,c(’patientId’, ’AJCC_PATHOLOGIC_TUMOR_STAGE’, ’ETHNICITY’, ’OS_MONTHS’, ’VITAL_STATUS’)]
I get the error with the official docker image. Thank you for your help.

session info
 [1] UpSetR_1.4.0                ggplot

[2020-09-23 17:12] LiNk-NY commented on #34
@biodancerwangzhi

Can you provide more information? I don't see the error. The `VITAL_STATUS` may not be in the data but there could be other endpoints that provide this data. If so, where do you see this data in the API?

I am using this endpoint:

[code]

[2020-09-30 02:00] LiNk-NY commented on #34
Hi @biodancerwangzhi
Please re-open the issue if you have more information to provide. Thank you.

[2020-09-30 02:00] #34 closed

[2020-11-25 16:50] ryao-mdanderson opened #35 "cbio <- cBioPortal() does not work"
Greetings,

I installed cBioPortalData on R/4.0.0 on our institution HPC cluster.  however I failed to use cBioPortal(),
$ module load R/4.0.0
$ R
$library(cBioPortalData)

 Error in Service(service = "cBioPortal", host = hostname, config = httr::config(ssl_verifypeer = 0L,  :
  unused arguments (api_reference_url = apiUrl, api_reference_md5sum = "b39b387c6fdd8b04badf38cb0777998f")

May you please

[2020-11-25 16:57] LiNk-NY commented on #35
Hi Rong Yao, @ryao-mdanderson
Please make sure you have a valid Bioconductor installation by checking `BiocManager::valid()`.
With R `>= 4.0.0`, you should have either Bioc `3.12` or `3.13` installed.
Can you provide more information on what `sessionInfo()` returns?

[2020-11-25 18:02] ryao-mdanderson commented on #35
Hello,

Thanks for your quick response.

Our R 4.0.0 has Bioconductor version 3.11 (BiocManager 1.30.10), R 4.0.0 (2020-04-24)

Here is what the sessionInfo() returns

R version 4.0.0 (2020-04-24)

Platform: x86_64-pc-linux-gnu (64-bit)

Running under: Red Hat Enterprise Linux

Matrix products: default

BLAS/LAPACK: /usr/lib64/libopenblas-r0.3.3.so

locale:

 [1] LC_CTYPE=en_US.UTF-8       LC_NUME

[2020-11-25 22:06] LiNk-NY commented on #35
Hi Rong Yao, @ryao-mdanderson

You're using the a 'too-new' version of `cBioPortalData` for the Bioconductor version that you have installed.

I would strongly recommend that you update your version of Bioconductor to `3.12` by using `BiocManager::install(version = '3.12')` but make sure that you have an appropriate location for the new package installations... See the [BiocManager vignette](https

[2020-11-26 03:54] ryao-mdanderson commented on #35
Thank you, Marcel. I will try.

Happy Thanksgiving!
Rong

From: Marcel Ramos <notifications@github.com>
Reply-To: waldronlab/cBioPortalData <reply@reply.github.com>
Date: Wednesday, November 25, 2020 at 4:07 PM
To: waldronlab/cBioPortalData <cBioPortalData@noreply.github.com>
Cc: "Yao,Rong" <RYao@mdanderson.org>, Mention <mention@noreply.github.com>
Subject: [EXT] Re: [waldronlab/cBioPortalData] c

[2020-11-30 23:30] LiNk-NY commented on #35
Feel free to re-open if you are having issues. AFAIK they should be resolved.
Best,
Marcel

[2020-11-30 23:30] #35 closed

[2020-11-30 23:37] LiNk-NY commented on #24
Hi Julien, @jucor
As of version `2.3.5`, you should be able to provide a set of genes (either "entrezGeneId" or "hugoGeneSymbols") to the main function. See the diff of changes here: https://github.com/waldronlab/cBioPortalData/compare/9e394190ecd06495683934f965a4a76fd598c18d..master

[2020-11-30 23:37] #24 closed

[2020-12-02 19:35] ryao-mdanderson commented on #35
Hello Marcel,

Thank you for your suggestion. Today, I followed your alternative suggestion:  “Alternatively, the appropriate version of cBioPortalData for Bioconductor 3.11 is cBioPortalData_2.0.10. You can re-install it using BiocManager::install("cBioPortalData").

I reinstall cBioPortalData, the installation is successful. I am able to test :
$ module load R/4.0.0
$ R

[1] ‘2.0.10’

# this suc

[2020-12-02 21:43] LiNk-NY commented on #35
Hi Rong Yao, @ryao-mdanderson

From the error, it looks like there is an issue with the dataset. Perhaps you may want to report it here: https://github.com/cBioPortal/datahub.

All datasets are not guaranteed to build as `MultiAssayExperiment` data objects with older versions of
`cBioPortalData`. We recommend using the latest version of R and `cBioPortalData`.

It is more likely that they build no

[2020-12-02 22:08] ryao-mdanderson commented on #35
Hello Marcel,

Thank you for your suggestion.

Just be curious, for cBioPortalData 2.0.10,
laml <- cBioDataPack("laml_tcga")
Access the website: https://cbioportal-datahub.s3.amazonaws.com to download data.

I also find dataset in
https://github.com/cBioPortal/datahub<https://urldefense.com/v3/__https:/github.com/cBioPortal/datahub__;!!PfbeBCCAmug!xbfMBQowNussIe5xTkKZq8hfZbC0xL418xjqEH-IzUExf9zEqL

[2020-12-03 00:46] LiNk-NY commented on #35
Hi Rong, @ryao-mdanderson

cBioPortalData version `2.0.10` (and newer) uses the AWS URL `https://cbioportal-datahub.s3.amazonaws.com`.
You can see the code here: https://github.com/waldronlab/cBioPortalData/blob/RELEASE_3_11/R/cBioDataPack.R#L2

Best,
Marcel

[2020-12-03 00:50] ryao-mdanderson commented on #35
Hi Marcel,

Thank you for your information.

Have a good night.
Rong

From: Marcel Ramos <notifications@github.com>
Reply-To: waldronlab/cBioPortalData <reply@reply.github.com>
Date: Wednesday, December 2, 2020 at 6:47 PM
To: waldronlab/cBioPortalData <cBioPortalData@noreply.github.com>
Cc: "Yao,Rong" <RYao@mdanderson.org>, Mention <mention@noreply.github.com>
Subject: [EXT] Re: [waldronlab/cBioPo

[2021-01-05 08:45] vemuribv commented on #24
Hello,
Just wanted to piggyback on this if possible--it seems the `downloadStudy` option mimics `cBioDataPack` functionality (unless I'm missing something). I'm wondering if I can use `cBioPortalData` to grab all the genes in one particular molecular profile, rather than a specified subset.

For example, I know that 'kirc_tcga' has a RNA_Seq_v2_expression_median experiment available with 20,531 ro

[2021-01-06 16:21] LiNk-NY commented on #24
Hi @vemuribv

Yes, this is what is used internally along with a couple of other functions

Unfortunately, the API is not designed to provide all the genes in a particular study by default.
It requires a list of genes or a gene panel for more granular access to the data. If you're interested
in _all_ the genes in a molecular profile, your best bet is `cBioDataPack`.

[2021-01-20 12:18] jucor commented on #24
Chiming back super late. What worked for me (TM) in the end has been just
downloading the TSV directly from the Data Hub in R with curl, and
wrangling that, since my use cases were pretty targeted and really needed
the whole profile. I put some caching on top to avoid redownloading
everything every time. Not ideal, but good enough for what I needed :/

[2021-01-20 17:00] LiNk-NY commented on #24
Thanks Julien, @jucor

I wonder how your method is different from `cBioDataPack`, in terms of the data downloaded.
It would be interesting to compare.

[code]

[2021-02-01 22:35] sahilseth opened #36 "Error in .checkBarcodes(barcodes) : Barcodes must start with 'TCGA'"
Its possible the pancancer data is organized a bit differently?

[code]

[2021-02-01 22:37] sahilseth commented on #36
I looked at the fusions file `data_fusions.txt`, and its seems OK:

[code]

[2021-02-03 16:57] LiNk-NY opened #37 "Fusion data unlisted in metadata"
See #36 for details

[2021-02-03 17:14] #37 closed

[2021-02-03 18:38] LiNk-NY commented on #36
Hi Sahil, @sahilseth

This is also confirmed to work on the `RELEASE_3_12` branch version `2.2.6`.

Best,
Marcel

[2021-02-03 18:38] #36 closed

[2021-02-09 16:05] jucor commented on #24
Apologies for delay answering - down with covid.
My method is much more barebones: I just download the TSV for mutations_mskcc_extended, and read it into a tibble. This also allowed me to configure the parsing of the TSV with readr to eliminate erroneous field type inference - which led to samples being dropped. I lose the rich MultiAssayExperiment structure,nl but I also simplify my code by only

[2021-04-03 19:07] lwaldron opened #38 "expand vignettes"
Good doc-a-thon items:

both vignettes:
- [ ] some introduction with background / rationale for the package and what it provides, linking to sources of more information
- [ ] citation & link to publication
- [ ] link to workshops

User Start Guide:
- [ ] why use this package? a little bit about cBioPortal and links / citations to more information about cBioPortal.
- [ ] what does it provide? (summ

[2021-04-29 14:55] #38 closed

[2021-05-06 05:01] LiNk-NY commented on #32
This should be resolved here: https://github.com/mksamur/RTCGAToolbox/commit/824c39419cc7416ff4771763d68a0a5977ebb435

[2021-05-06 05:01] #32 closed

[2021-05-06 05:01] LiNk-NY opened #40 "fix cBioDataPack("brca_mbcproject_wagle_2017")"

[2021-05-11 18:24] jjgao opened #41 "There is an error in the JSON format of the request payload - R api wrapper"
reported by @mattdmem https://github.com/cBioPortal/cbioportal/issues/8392

Hello, nice tool.

I am trying to get some data in R and I am getting the error:

"There is an error in the JSON format of the request payload"

R4.0.4

[code]

where molecular profile is:
[code]

and sampleIds is:
[code]

Any ideas?

Thanks!!

[2021-05-14 22:02] LiNk-NY commented on #41
Thanks JJ! I will have a look at this soon. Sorry for the delay.
Best,
Marcel

[2021-05-17 15:36] LiNk-NY commented on #41
Hi Matthew, @mattdmem

`mutationData` is a bit of an advanced function to use and is at a lower level than `cBioPortalData()`.

I would recommend sticking to the standard API, i.e., using the `cBioPortalData()` function:

[code]

Currently, in the release version of `cBioPortalData` the function only accepts gene panel identifiers `genePanelId`.
See `genePanels(cbio)`.

The development version (so

[2021-05-17 15:36] #41 closed

[2021-05-29 02:21] afaissa opened #42 "clinicalData does not retrieve all patient data"
Hi, thanks for the package!

A question, though:

Using the command:
PatientData <- clinicalData(api = cbio, studyId = "luad_tcga")

I get only 24 columns from patient metadata (no survival data, for example). Conversely, downloaded data from "luad_tcga" (data_bcr_clinical_data_patient.txt) gives 79 columns. So, I am not getting all the patient data using that command.

What am I doing wrong?

Tks

[2021-05-30 22:20] LiNk-NY commented on #42
Hi @afaissa

When reporting issues like these it's best to provide at least the `sessionInfo` output.
A minimally reproducible example is ideal.

I checked release and devel versions of `cBioPortalData` and I get 81 columns.

Please make sure you are using the latest Bioconductor release version 3.13 or
Bioconductor devel with R version 4.1 and that `BiocManager::valid()` returns `TRUE`/

https://

[2021-05-30 22:20] #42 closed

[2021-05-30 22:20] LiNk-NY commented on #42
Feel free to re-open if the issue persists. Thanks!

[2021-05-31 21:05] afaissa commented on #42
Hi Marcel,

Thank you for your feedback and sorry for the missing information.

library(cBioPortalData)
cbio <- cBioPortal()
PatientData <- clinicalData(api = cbio, studyId = "luad_tcga")

sessionInfo()

[2021-06-04 02:46] afaissa opened #43 "clinicalData does not retrieve all patient data"
Hi Marcel,

Thank you for your feedback and sorry for the missing information.

Here the whole thing:

library(cBioPortalData)
cbio <- cBioPortal()
PatientData <- clinicalData(api = cbio, studyId = "luad_tcga")

There is a file for the environment here if you would like to check.

https://drive.google.com/file/d/15OWRvojEGOpYscKmQc6liM2CzAiPnhN9/view?usp=sharing

I understand the issue is on my R,

[2021-06-11 15:03] LiNk-NY commented on #43
Hi @afaissa,

Sorry but you would have to be more specific here. What do you mean by "all" patient data?
Please make sure that `BiocManager::valid()` is returning `TRUE` for you.
If the data that you are looking for is not present. You would have to provide a more detailed
report that includes the API endpoint for the data that you were expecting.

This is the clinical data table that I get back i

[2021-06-13 04:10] afaissa commented on #43
Hi Marcel,

Thank you for your reply and your time on that.
"BiocManager::valid()" was indeed returning "TRUE".

The problem was indeed the cache. After following your suggestion clearing the cache it did work.

# A tibble: 586 x 81
   patientId   AGE   AJCC_METASTASIS_PATH~ AJCC_NODES_PATHOL~ AJCC_PATHOLOGIC_TUM~
   <chr>       <chr> <chr>                 <chr>              <chr>
 1 TCGA-05-42~ 7

[2021-06-13 04:10] #43 closed

[2021-09-06 10:44] ZheFrench opened #44 "No lock availabe !"
On Ubuntu 18.04,  and R 4.1 got this weird error about  "no lock available".  Any idea ?

[code]

[2021-09-06 13:26] #44 closed

[2021-11-02 13:50] #20 closed

[2021-11-29 15:40] schaffman5 commented on #17
I ran into this issue as well and there is a larger issue with the rapiclient package as I reported here https://github.com/bergant/rapiclient/issues/18.  One workaround is to manually create the service, but this uses non-public methods.  Perhaps there is a more elegant way to fix this or rely less on the rapiclient for this functionality.

[code]

Then the following will work.

[code]

[2021-11-29 17:18] LiNk-NY commented on #17
Hi @schaffman5

This is related to https://github.com/Bioconductor/AnVIL/issues/42
I've created a branch called `token` in cBioPortalData based on the changes in the AnVIL branch.

You can test this functionality with:
[code]

Let me know if this works.
Best,
Marcel

[2021-11-29 18:10] schaffman5 commented on #17
Thanks.  The cBioPortalData branch you referenced requires R version 4.2.0, which is not a current release.  Could you modify the Description file to allow v4.1.0 instead?

[2021-11-29 18:14] LiNk-NY commented on #17
Hi @schaffman5

The proposed changes would get merged to the Bioc-devel branch which currently uses R-devel.
The R >= 4.2.0 is appropriate. For testing, you could modify the R version on a local checkout.

Best,
Marcel

[2021-11-29 18:28] schaffman5 commented on #17
@LiNk-NY Yes, the `token` branch works on our internal cBioPortal deployment.  Thanks!

[2021-12-01 06:35] tdeboer-ilmn opened #45 "Creating Python client using bravado results in ValidationErrors"
I'm trying to create a Python client for the cBioPortal API as described on the API documentation website, but run into validation errors.

[code]
I tried some other methods (openapi-python-client generate --url https://www.cbioportal.org/api/api-docs) with the same results, so it seems there may be some issues with the OpenAPI 2.0 defintion file?

[2021-12-01 06:45] tdeboer-ilmn commented on #45
I found a workaround...

Adding "validate_swagger_spec":False to the config results in a functional client

[code]

[2021-12-01 19:14] LiNk-NY commented on #45
Hi Thon, @tdeboer-ilmn

We don't make changes to the API from cBioPortal.
If you're encountering issues with the API, it's best to report them in this repo.
https://github.com/cBioPortal/cbioportal

Best regards,
Marcel

[2021-12-01 19:15] #45 closed, assigned to nobody

[2022-01-16 03:09] Jeff-Gui opened #46 "Require R>4.2.0?"
When installing as described in this github homepage, there is an error message.
ERROR: this R is version 4.1.2, package 'cBioPortalData' requires R >=  4.2.0

However, I think R has not been updated to 4.2.0 yet.

[2022-01-17 16:20] lwaldron commented on #46
Hi @Jeff-Gui , the version on GitHub must be run with bioc-devel (https://www.bioconductor.org/developers/how-to/useDevel/), which depends on R-devel, which is currently 4.2.0. To use the release version of cBioPortalData that installs with the current Bioconductor and R releases, just do:
[code]
I'll clarify this on the README.md.

[2022-01-29 17:21] LiNk-NY opened #47 "add argument for to disable .check_study_id_building for alt hostnames"
cBioPortalData()

[2022-01-29 18:41] #47 closed, assigned to nobody

[2022-01-30 23:48] #46 closed, assigned to nobody

[2022-01-31 04:41] LiNk-NY commented on #40
Should be fixed with RTCGAToolbox 2.25.2 in Bioc devel 3.15.

[2022-01-31 04:41] #40 closed

[2022-01-31 04:42] LiNk-NY commented on #17
This should be implemented. Feel free to comment if you have any further issues with API tokens.

[2022-01-31 04:42] #17 closed

[2022-01-31 18:02] andrea-de-micheli opened #49 "compatibility with paediatric cBio?"
Hello,

I'm trying to access the data on the paediatric cBioPortal (https://pedcbioportal.kidsfirstdrc.org) using the following API address: https://pedcbioportal.kidsfirstdrc.org/api/swagger-ui.html

While I can create a cBioPortal instance, methods such as getStudies() and clinicalData() return me errors.

Is the code compatible with the paediatric cBioPortal database?

Many thanks,
Andrea

[2022-01-31 20:24] LiNk-NY commented on #49
Hi Andrea, @andrea-de-micheli
Please see the answer here: https://groups.google.com/g/cbioportal/c/VteZnY5C6mM/m/0GatSYyuAwAJ
Make sure you have version `2.7.7` of `cBioPortalData`.
Best,
Marcel

[2022-02-01 11:57] andrea-de-micheli commented on #49
Thank you very much!

[2022-02-18 04:14] varsha090597 opened #50 "MAE object missing gene expression data"
Hi,

I am trying to use the cBioDataPack function within the package to pull the gene expression data for the Metastatic Prostate Adenocarcinoma (SU2C/PCF Dream Team, PNAS 2019) study (studyId: prad_su2c_2019). I am unfortunately only able to see the cna and mutation information in the MAE object. I have attached a screenshot of the command I tried running and the output I get. Any suggestions on

[2022-02-18 16:20] LiNk-NY commented on #50
Hi Varsha,

This is what I see from the downloaded tarball. It doesn't look like there is any expression data in the file.
All the other data should be in the metadata.

[code]

Perhaps this question is better suited for the cBioPortal Data team? https://github.com/cBioPortal/datahub

Best regards,
Marcel

[2022-02-18 16:20] #50 closed, assigned to nobody

[2022-02-18 16:45] varsha090597 commented on #50
I think my issue was with the cbiodatapack function. The other assays that are listed here aren't accessible with the cbiodatapack function. The MAE I see has only 2 assays.

[2022-02-18 16:57] LiNk-NY commented on #50
Hi Varsha,
Please check the metadata:
[code]

[2022-02-18 17:05] varsha090597 commented on #50
Thanks. That answered my question.

[2022-03-28 14:20] LiNk-NY commented on #49
Please feel free to reopen, if there are still any difficulties.
Thanks!

[2022-03-28 14:20] #49 closed, assigned to nobody

[2022-04-12 10:14] ZWael commented on #17
Hi I'am using R version 4.1
and i have installed CbioPortalData from bioconductor  which install the version 2.6.1
but unfortunately it is not yet supporting token argument in the cBioPortal() function
using  devtools::install_github("waldronlab/cBioPortalData", ref = "token") require R 4.2
how can i make it work in R 4.1?

[2022-04-12 14:57] LiNk-NY commented on #17
This feature is not available in R < 4.2. It is only available in Bioconductor-devel or [soon-to-be `RELEASE_3_15` . ](https://bioconductor.org/developers/release-schedule/)

[2022-04-15 18:53] kmezhoud opened #52 "migrate from cgdsr to cBioPortalData"
Dear all,
I suppose that all packages depending on `cgdsr` will use `cBioPortalData`.
Concretely,
1- Is there an equivalent to theses 6 commands?
2- The structure of data in `cgdsr` remain the same in `cBioPortalData` with:
      - Studies, Cases with clinical data, and Genetic profiles
      - The references of cases and genetic profiles tables, like "gbm_tcga_pub"

Rapidly I saw that `getCancerS

[2022-04-18 14:15] LiNk-NY commented on #52
Hi Karim! @kmezhoud
I hope you're well.

`cBioPortalData` is not a direct migration from `cgdsr`.
It is mainly an implementation to facilitate data download from the bulk tarballs and the API via `cBioDataPack` and `cBioPortalData`, respectively.

Please see the vignette for developers here:
https://waldronlab.io/cBioPortalData/articles/cBioPortalRClient.html
Feel free to post any further question

[2022-04-18 18:49] kmezhoud commented on #52
Dear Ramos,
Thanks!

Here I will try to compare this two packages and understand the different approaches?

If I resume, the main notes are:

* `cgdsr` and `cBioPortalData` use the same hostname `http://www.cbioportal.org/`
* in selected example, `cBioportalData` returns empty data compared to `cgdsr`.
* querying Clinical data is related to `SampleListId`. cBioportalData does not use `sampleListId

[2022-04-19 14:25] LiNk-NY commented on #52
Hi Karim, @kmezhoud

Thank you for this comprehensive comparison!
I can add this to the package as a vignette (with attribution ofc) for those looking to
migrate their code from `cgds` to `cBioPortalData`.

The examples you provided mixed the use of `gbm_tcga` and `gbm_tcga_pub` and that's why you were seeing empty responses.

The `molecularData` operation could use a bit more flexibility in terms

[2022-04-19 22:48] LiNk-NY commented on #52
**Update**: I've added the ability to query the API for a table of gene symbols:
[code]
and a vignette to allow developers to migrate from `cgds` to `cBioPortalData` at https://github.com/waldronlab/cBioPortalData/blob/devel/vignettes/cgdsMigration.Rmd

Your feedback is welcome.
Thanks!

[2022-04-27 17:02] #52 closed, assigned to nobody

[2022-05-12 09:29] limbo1996 opened #57 "how to get molecularData with out entrezGeneIds"
Hello
When I use `molecularData()`,  I find `entrezGeneIds`  is necessary. Like
[code]
But this is only part of the data for these two samples.
How do I get all the  data for these two samples  in `acc_tcga_rna_seq_v2_mrna` when I don't need to enter the range of `entrezGeneIds ` ?
Thanks a lot.

[2022-05-12 15:07] LiNk-NY commented on #57
Hi @limbo1996
The API was designed to take slices of the data, thus entreGeneIds or HugoSymbols are required.
If you'd like to get all the data, you can try the bulk method by doing:

[code]
And then filtering out by sampleId

[2022-05-13 04:01] limbo1996 commented on #57
@LiNk-NY  Thanks for your reply!
But when  I use `cBioDataPack`, return:
[code]
So what can I do to import all mrna files?
Thanks again!

[2022-05-13 15:36] LiNk-NY commented on #57
Hi @limbo1996

Thanks for pointing this out. It seems to be an issue with missing rownames in the data and the way the `SummarizedExperiment` constructor function handles name checks. If interested, you can follow the issue here:

https://github.com/Bioconductor/SummarizedExperiment/issues/64

There is an issue on the curation side AFAICT. When reading the data manually, there are `NA` in the `Hug

[2022-08-09 05:19] hufanglq opened #58 "cBioPortalData did not work in custom function"
Thanks for good job!
I have problem with cBioPortalData, following code works well, but if put in a function, it won't work.
[code]

like this:

[code]
The error message was " **Error in FUN(X[[i]], ...) : object 'mygeneticprofile' not found** "

[2022-08-18 15:13] SRodenburg opened #59 "Can we make the download URL customizable?"
Hello,

Currently the package is preconfigured to download from the cBio Amazon server:
https://github.com/waldronlab/cBioPortalData/blob/b16ec9de5841a132cda1bc792a52dd7f44f3cbaa/R/cBioDataPack.R#L2

Would it be possible to make this URL customizable?

Thanks

[2022-08-22 15:33] BiotechPedro opened #60 "Unable to import: ... missing value where TRUE/FALSE needed"
Hello everyone!

I was trying to import some data as I did in the past, but got a warning on creating the MultiAssayExperiment for some experiments data. Concretely, the mRNA-seqv2-RSEM for TCGA PanCancer Atlas data. It is due to the rownames including NAs - (https://github.com/waldronlab/cBioPortalData/issues/57) and (https://github.com/Bioconductor/SummarizedExperiment/issues/64). Also, when set

[2022-08-22 15:42] LiNk-NY commented on #60
Hi Pedro, @BiotechPedro
Can you help me and provide a minimally reproducible example?
https://stackoverflow.com/questions/5963269/how-to-make-a-great-r-reproducible-example

Thank you!

-Marcel

[2022-08-22 16:03] BiotechPedro commented on #60
For sure! I run this code `laml_TCGA_PanCancer <- cBioPortalData::cBioDataPack("laml_tcga_pan_can_atlas_2018", ask = FALSE)` and get the following warning messages:

1: Unable to import: mrna_seq_v2_rsem_zscores_ref_all_samples
Reason: missing value where TRUE/FALSE needed
2: Unable to import: mrna_seq_v2_rsem
Reason: missing value where TRUE/FALSE needed

However, when I run `laml_TCGA_PanCancer

[2022-08-22 22:49] LiNk-NY commented on #60
Hi Pedro, @BiotechPedro
Thanks for reporting.
I suspect that this is based on changes to the `SummarizedExperiment` constructor but I can't confirm this.
I've made an update to remedy this using the suggestion to use `""` instead of missing.

https://github.com/mksamur/RTCGAToolbox/commit/6e1cc6ae8566df8c8e84a14ede67e8f45c29d16f

You should see this change in RTCGAToolbox version `2.27.1`. It will

[2022-08-22 22:49] #60 closed, assigned to nobody

[2022-08-24 12:48] #59 closed, assigned to nobody

[2022-08-24 13:55] LiNk-NY commented on #59
Hi @SRodenburg

Sorry I missed the issue notification.
I hope you were able to change the URL.
Please tag me next time.

Best regards,
Marcel

[2022-08-24 13:58] #57 closed, assigned to nobody

[2022-08-24 14:19] LiNk-NY commented on #58
Hi @hufanglq

`cBioPortalData` is really meant for end-users and not developers.
The error is due to the system that allows caching of arguments.
The function is meant to run in the `.GlobalEnv` and not in a
function env.

The wrapper function provided here restricts the flexibility in the
arguments and I do not recommend this approach.

For advanced low-level usage, see our developer vignette.

B

[2022-08-24 14:19] #58 closed, assigned to nobody

[2022-08-24 14:51] SRodenburg commented on #59
Thanks for the reply. I noticed that you should be able to change the URL using `option()`.
I missed that. Thanks!

[2022-08-31 18:18] sajo25 opened #61 "Error trying to obtain mutation data with getDataByGenes"
Hi! I'm using cBioPortalData in place of cgdsr to calculate the alteration frequency of different genes, but when I try to use getDataByGenes() to obtain mutation data for genes that are not altered (i.e. there's no data) I get an error, which causes my loop to break.

[code]

In contrast, when I do this for cna, the function simply returns an empty list.

[code]

named list()

Would it be possibl

[2022-08-31 21:33] LiNk-NY commented on #61
Hi @sajo25
You have a good point. Thank you for reporting this. I will look into it.
Best regards,
Marcel

[2022-09-02 21:39] #61 closed, assigned to LiNk-NY

[2022-09-15 14:46] mjsteinbaugh opened #62 "pancan_pcawg_2020 and pan_origimed_2020"
Hi Waldron Lab,

I'm working on migrating my cBioPortal workflow code to use cBioPortalData, and the package is really excellent. Great work. One thing that I've noticed is that `pancan_pcawg_2020` doesn't appear to be supported by the main `cBioPortalData()` or `cBioDataPack()` functions.

I checked using this code:

[code]

See related dataset:
https://www.cbioportal.org/study/summary?id=pancan_

[2022-09-15 14:48] mjsteinbaugh commented on #62
Also, the `pan_origimed_2020` dataset would be a really helpful addition.

https://www.cbioportal.org/study/summary?id=pan_origimed_2020

[2022-09-15 15:00] mjsteinbaugh commented on #62
Found a minor bug with BiocFileCache call -- usage of `cBioDataPack()` with `ask = FALSE` still currently prompts the user to create the cBioPortalData BiocFileCache directory if it doesn't exist.

[2022-09-15 19:12] LiNk-NY commented on #62
Hi Michael, @mjsteinbaugh
I've tested so far with `pancan_pcawg_2020` and it looks like only the mutation data can be represented.

[code]
You can download the data manually using `downloadStudy` and take a look at the contents.
I am not sure why the CNA and other datasets are not being built. I will take a closer look later.

Use version `2.9.11` or greater.

Best,
Marcel

[2022-09-15 21:48] mjsteinbaugh commented on #62
Thanks @LiNk-NY I'll take a look and get back to you. I'm primarily interested in the CNA data for both datasets, which I can query via the API but not the main recommended functions in the package.

[2022-11-11 16:26] SRodenburg opened #63 "Possible mistake in .isNonExp function causes files (CNA etc) to be loaded as metadata?"
Hello,

I was loading a study using the function `loadStudy` and noticed that most data files are not being added to the `ExperimentList` of the `MultiAssayExperiment` object, but are loaded as metadata into the MultiAssayExperiment object.

I pinpointed the issue to be in this line:
https://github.com/waldronlab/cBioPortalData/blob/devel/R/cBioDataPack.R#L426

it causes all non-mutation files to

[2022-11-11 16:45] SRodenburg commented on #63
If I am misunderstanding the code, please explain what the intended behavior is of this line/function.

[2022-11-14 14:56] LiNk-NY commented on #63
Hi @SRodenburg
Do you have a reproducible example?
It may be that they do not have the proper annotations to be added into the `MultiAssayExperiment`.
Best,
Marcel

[2022-11-14 15:21] SRodenburg commented on #63
Hello @LiNk-NY,
I am working with a custom dataset, and therefore I had to use the `loadStudy` method rather than the `cBioPortalPack` method.  The dataset is however cBioPortal compatible so I don't understand which annotations might be missing. Do you have some pointers to what I might check?

I saw the code does some checks on whether the dataset is TCGA or not. Might that be the issue?

Since

[2022-11-14 17:28] LiNk-NY commented on #63
Hi Sander, @SRodenburg

Yes, that might be the issue since there is no easy way (in non-TCGA data) to link patient data to sample data for the `sampleMap`. But, you can still manually add the data in the metadata to the experiments.

Best,
Marcel